NODE_ENV=development
PORT=3000
SEED_PERMISSIONS=true

MONGO_URI=mongodb://localhost:27017/anavilam?replicaSet=rs0&directConnection=true

REDIS_HOST=172.17.0.1
REDIS_PORT=6379

ENABLE_PROMETHEUS=true
ENABLE_GRAFANA=false

ENABLE_METRICS_MODULE=true
ENABLE_USER_MODULE=true
ENABLE_CUSTOMER_MODULE=true
ENABLE_EMPLOYEE_MODULE=true
ENABLE_AUDIT_LOGS_MODULE=true
ENABLE_ROLE_MODULE=true
ENABLE_COMPANY_MODULE=true
ENABLE_ADDRESS_MODULE=true
ENABLE_CATEGORY_MODULE=true
ENABLE_PRODUCT_VARIANT_MODULE=true
ENABLE_PRODUCT_MODULE=true
ENABLE_ORDER_MODULE=true
ENABLE_CART_MODULE=true
ENABLE_WHISHLIST_MODULE=true
ENABLE_SUBSCRIPTION_MODULE=true
ENABLE_OFFER_MODULE=true
ENABLE_PERMISSION_MODULE=true
ENABLE_MEDIA_MODULE=true
ENABLE_COUNTRY_MODULE=true
ENABLE_PROVINCE_MODULE=true
ENABLE_CHANNEL_MODULE=true
JWT_SECRET=super_secure_secret_key
CLOUD_STORAGE_NAME=your_cloud_name
CLOUD_STORAGE_KEY=your_api_key
CLOUD_STORAGE_SECRET=your_api_secret
STORAGE_DRIVER=LOCAL

ENABLE_CUSTOMER_CATEGORY_MODULE=true

ENABLE_OUTLET_TYPE_MODULE=true

ENABLE_BEAT_MODULE=true

ENABLE_ROUTE_MODULE=true

ENABLE_INVENTORY_MODULE=true

ENABLE_INVENTORY_TRANSACTION_MODULE=true

ENABLE_DAILY_INVENTORY_MODULE=true

ENABLE_STOCK_COUNT_MODULE=true

ENABLE_STOCK_COUNT_ITEM_MODULE=true

ENABLE_STOCK_SALES_MODULE=true

ENABLE_STOCK_SALES_ITEM_MODULE=true

ENABLE_VAN_INVENTORY_MODULE=true

ENABLE_VAN_DAILY_STOCK_MODULE=true

ENABLE_VAN_INVENTORY_TOPUP_MODULE=true

ENABLE_VAN_INVENTORY_TOPUP_ITEM_MODULE=true

ENABLE_CUSTOMER_SALES_MODULE=true

ENABLE_CUSTOMER_SALES_ITEM_MODULE=true

ENABLE_ACTIVITY_MODULE=true

ENABLE_WORK_SESSION_MODULE=true

ENABLE_ROUTE_SESSION_MODULE=true

ENABLE_SHOP_VISIT_MODULE=true

ENABLE_ROUTE_CUSTOMER_MAPPING_MODULE=true

ENABLE_NON_SALE_MODULE=true

ENABLE_SALES_MODULE=true

ENABLE_SALES_ITEM_MODULE=true

ENABLE_PAYMENT_MODULE=true
